/***** Reset *****/

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none; color: #000;
}

/****** Général *****/

:root {
  --primaire: #9356DC;
  --secondaire: #FF79DA;
  --tertiaire: #99E2D0;
}

/***** Loader *****/

